/* Общие стили для всей панели */
* {
  font-family: "JetBrainsMono Nerd Font", sans-serif;
  font-size: 13px;
  font-weight: 500;
}

#waybar {
  /* background: #0C0D11; */
  background: #0a0a0a;
  color: #CDD6F4;
}


#clock {
  padding-left: 18px;
}

#pulseaudio {
  padding-right: 18px;
  padding-left: 10px;
}

#pulseaudio.muted {
  color: #F28FAD;
}

#custom-disk {
  padding-right: 10px;
  padding-left: 10px;
}

#custom-memory {
  padding-right: 10px;
  padding-left: 10px;
}

#workspaces button {
	transition: none;
	color: #45475A;
	background: transparent;
  padding: 7px 15px;
  transition: color 0.2s ease
}

#workspaces button.occupied {
	transition: none;
	color: #F28FAD;
	background: transparent;
  transition: color 0.2s ease
}

#workspaces button.active {
	color: #CDD6F4;
  transition: color 0.2s ease
}

#workspaces button:hover {
	transition: none;
	box-shadow: inherit;
	text-shadow: inherit;
	color: #acb0be;
  border-color: transparent;
}

#workspaces button.active:hover {
  
}