* {
    font-family: "SF Pro Display", sans-serif;
    font-size: 14px;
    color: white;
    background: transparent;
}

#waybar {
    background-color: rgba(28, 28, 30, 0.50);
}

#clock
{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 12px;
    color: white;
}

#clock {
    font-weight: 700;
    font-size: 12px;
}

#window {
    padding-left: 12px;
    font-weight: 600;
}

#image.ethernetart {
    color: white;
}

#custom-date {
    color: white;
    font-size: 13px;
    font-weight: 700;
}

#pulseaudio {
    color: white;
    font-size: 13px;
    font-weight: 600;
}